body {
    font-family: verdana;
    background-color: #bf4040;
    text-align:center;

}

h3 {
    color: white;
    text-align: center;

}

p {
      font-size: 20px;
}

#loginbutton {
    color: black;
    text-align: center;
    font-size: 30px;
    border-radius: 8px;
     background-color: white;
     border: none;

}

#avatar {
    border-radius: 50%;
}